.top-button-container {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    .icon { 
        border-radius: 3px;
        &:hover {
            color: white;
            background-color: rgba(0, 0, 0, 0.54);
        }
    }
}

.input-field { 
    margin-right: 1rem;
}