
<h1>Add Hero</h1>

<!--Some stuff related to testing signals-->

<div class="row">
    <button mat-flat-button color="primary" (click)="backClick()">Back</button>
</div>

<form [formGroup]="hero" (ngSubmit)="onSubmit()">
    <div class="row">
        <mat-form-field class="input-field">
            <mat-label>Superhero Alias</mat-label>
            <input matInput id="name" type="text" [formControl]="hero.controls.name">
        </mat-form-field>    
    </div>
    
    <div class="row">
        <mat-form-field class="input-field">
            <mat-label>First Name</mat-label>
            <input matInput id="firstName" type="text" [formControl]="hero.controls.firstName">
        </mat-form-field>
        
        <mat-form-field class="input-field">
            <mat-label>Last Name</mat-label>
            <input matInput id="lastName" type="text" [formControl]="hero.controls.lastName">
        </mat-form-field>
    </div>
    
    <div class="row">
        <mat-form-field class="input-field">
            <mat-label>City</mat-label>
            <input matInput id="city" type="text" [formControl]="hero.controls.city">
        </mat-form-field>
    </div>

    <button mat-flat-button color="primary" type="submit" [disabled]="!hero.valid">Add Hero</button>
</form>




