<h1>Update State</h1>

<div>
    <h3>Current State:</h3>
    <p>{{state}}</p>
</div>

<form [formGroup]="stateForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
        <mat-label>Update State</mat-label>
        <input matInput [formControl]="stateForm.controls.updateState"/>
    </mat-form-field>
    <div>
        <button mat-flat-button color="primary" type="submit" [disabled]="!stateForm.valid">Update State</button>
    </div>
</form>

<a mat-raised-button routerLink="/page-test">Got To Test Page</a>